.sk-select-list{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
   
.select-msg {
    float: left;
    line-height: 20px;
    padding: 9px 15px;
}

 
.select-status {
    display: inline-block;  
    position: relative;
    width: 92px;  
    height: $height-input;
    line-height:  $height-input;
    padding: 0 24px 0 5px;          
	border: 1px solid #ddd;
	
	cursor: pointer;
	text-align: left;
	background: #fff;      
    .icon {
        position: absolute;
        display: block; 
        width: 8px;
        height: 8px;
        top: 5px;     
        right: 5px;     
		border:1px solid  #999;   
		border-width: 0 0 1px 1px;  
		transform: rotate(-45deg);     
        transition: all .4s ease-in-out;
        transform-origin: center;
    }        
    @extend %text-over;
}

.sk-select-list.opened .select-status .icon {
    transform: rotate(135deg); 
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    min-width: 100%;
    margin-top:-3px;
    //border: 1px solid #DEDEDE;
    border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    background: #fff;
    transition: all .25s ease-in;

    display: none;
    pointer-events: none;
    transform: translateY(-15px);
}

.sk-select-list.opened .options {
	display: block;
    pointer-events: all;
    transform: translateY(0); 
}



.option {
    font-size: $size-main;
    color: #666;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;

    position: relative;
    display: block;
    padding: 0 7px;
    line-height: $height-base;
    //border-bottom: 1px solid #dfdfdf;

    transition: all .3s ease-in;

}

.option:first-of-type {
    border-radius: 4px 4px 0 0;
}

.option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}

.option:hover, .option.selected {
    background: #ecf6fd;
}
