
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-warn {
    color: #CE0606;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

%text-over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%clearfix {
    overflow: hidden;
    _zoom: 1;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.clearfix {
    overflow: hidden;
    _zoom: 1;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInUp {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeInUp;
}

@keyframes fadeOutZoom_SK{
	from {
		opacity: 0;
		transform:scale(.8);
	}

	to {
		opacity: 1;
		transform:scale(1);
	}
}

.fadeOutZoom_SK { 	
	animation-duration: .36s;      
	animation-fill-mode: both;  
	animation-name: fadeOutZoom_SK;
}

@keyframes fadeInZoom{
	from {
		opacity: 0;
		transform:scale(.8);
	}

	to {
		opacity: 1;
		transform:scale(1);
	}
}
	
.fadeInZoom { 	
	animation-duration: .36s;      
	animation-fill-mode: both;  
	animation-name: fadeInZoom;
}

@keyframes fadeOutZoom{
	from {
		opacity: 1;
		transform:scale(1);
	}

	to {
		opacity: 0;
		transform:scale(.8);
	}
}
     
.fadeOutZoom { 	
	animation-duration: .36s;      
	animation-fill-mode: both;  
	animation-name: fadeOutZoom;
}

@keyframes fadeOut{ 
	from {
		opacity: .5;
	}

	to {
		opacity: 0;
	}
} 
     
.fadeOut { 	
	animation-duration: .3s;      
	animation-fill-mode: both;  
	animation-name: fadeOut;
}

.transparent{                                     
	opacity: 0 !important;   
}