@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 14px;
  color: #333;
  font-family: ".PingFang-SC-Regular", "Microsoft YaHei", "微软雅黑"; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #4f7aa4; }
  a:hover {
    opacity: .9; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999; }

.container, .container-sm {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px; }

.container-sm {
  width: 1040px;
  background: #fff; }

/* button */
button {
  border: 1px solid #ececec;
  outline: 0;
  background: #fff;
  color: #333;
  padding: 0 10px;
  height: 26px;
  min-width: 50px;
  cursor: pointer; }

.btn {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  min-width: 60px;
  padding: 0 25px;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  border: none;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  -webkit-transition: .25s linear;
  -o-transition: .25s linear;
  -moz-transition: .25s linear;
  transition: .25s linear; }
  .btn:active {
    opacity: .8; }
  .btn:hover {
    color: #fff; }
  .btn.btn-primary {
    background: #fff;
    border: 1px solid #ececec;
    color: #999; }

.btn-large {
  height: 32px;
  line-height: 32px; }

.btn-ll {
  height: 34px;
  line-height: 34px; }

/* nav */
.nav {
  height: 50px;
  margin-bottom: 10px;
  background: #fff; }
  .nav > ul li {
    float: left;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    width: 70px;
    margin-right: 10px;
    text-align: center; }
    .nav > ul li a {
      display: inline-block; }
    .nav > ul li.nav-active {
      border-bottom: 2px solid #333; }
      .nav > ul li.nav-active a {
        color: #333; }

/* table */
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  font-size: 12px; }
  .table thead {
    background: #333;
    color: #fff; }
  .table th {
    height: 28px;
    padding: 4px;
    font-weight: normal;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec; }
  .table td {
    min-height: 20px;
    line-height: 20px;
    padding: 4px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    max-width: 200px;
    word-break: break-all; }

/* form */
.form input {
  outline: 0;
  border: 1px solid #ececec;
  font-size: 12px; }

.form input[type='text'] {
  height: 24px;
  padding: 0 4px; }

.form .form-row {
  margin: 0 0 31px; }

.form .label-align {
  display: inline-block;
  width: 15%;
  text-align: right; }

.form .form-submit {
  padding-top: 4px; }

.input-sm {
  width: 82px; }

.input-ss {
  width: 50px; }

/* tab */
.tab-nav ul li {
  float: left;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px; }
  .tab-nav ul li a {
    display: inline-block; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-warn {
  color: #CE0606; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.select-status {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap; }

.nav, .tab-nav {
  overflow: hidden;
  _zoom: 1; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.clearfix {
  overflow: hidden;
  _zoom: 1; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 100%, 0);
         transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -moz-transform: none;
         transform: none; } }

@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -o-transform: none;
       transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
       -moz-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
         -o-transform: none;
            transform: none; } }

.fadeInUp {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
     -moz-animation-name: fadeInUp;
       -o-animation-name: fadeInUp;
          animation-name: fadeInUp; }

.sk-select-list {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.select-msg {
  float: left;
  line-height: 20px;
  padding: 9px 15px; }

.select-status {
  display: inline-block;
  position: relative;
  width: 92px;
  height: 24px;
  line-height: 24px;
  padding: 0 24px 0 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  text-align: left;
  background: #fff; }
  .select-status .icon {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 3px;
    right: 5px;
    background: url(../img/icon-select.png) center no-repeat;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
        -ms-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center; }

.sk-select-list.opened .select-status .icon {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg); }

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  min-width: 100%;
  margin: 6px 0;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
     -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  display: none;
  pointer-events: none;
  -webkit-transform: translateY(-15px);
     -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
       -o-transform: translateY(-15px);
          transform: translateY(-15px); }

.sk-select-list.opened .options {
  display: block;
  pointer-events: all;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0); }

.options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  background: #fff;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.option-hover:before {
  background: #f9f9f9; }

.option {
  font-size: 12px;
  color: #666;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  display: block;
  padding: 0 22px;
  line-height: 24px;
  border-bottom: 1px solid #dfdfdf;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.option:first-of-type {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0; }

.option:last-of-type {
  border-bottom: 0;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px; }

.option:hover, .option.selected {
  background: #f9f9f9; }

.sk-page {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center; }
  .sk-page .page-item, .sk-page .page-prev, .sk-page .page-next, .sk-page .page-edge {
    margin: 0 3px;
    display: inline-block;
    border: 1px solid #ececec;
    min-width: 36px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: .25s linear;
    -o-transition: .25s linear;
    -moz-transition: .25s linear;
    transition: .25s linear; }
  .sk-page .page-dot {
    cursor: default;
    margin: 0 7px; }
  .sk-page .page-curr {
    cursor: default;
    background-color: #0aa284;
    border-color: #0aa284;
    color: #fff; }
  .sk-page .page-prev {
    padding: 0 10px;
    -webkit-border-top-left-radius: 4px;
       -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
       -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px; }
  .sk-page .page-next {
    padding: 0 10px;
    -webkit-border-top-right-radius: 4px;
       -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
       -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px; }
  .sk-page .page-edge {
    padding: 0 10px; }
  .sk-page .page-skip, .sk-page .page-skip-input, .sk-page .page-skip-btn {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    vertical-align: top; }
  .sk-page .page-skip-input {
    width: 46px;
    border: 1px solid #ececec;
    text-align: center;
    margin: 0 5px;
    outline: 0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px; }
  .sk-page .page-skip-btn {
    width: 50px;
    outline: 0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ececec;
    background-color: transparent;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s; }
    .sk-page .page-skip-btn:active {
      background-color: #f3f3f3; }
