
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-warn {
    color: #CE0606;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

%text-over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%clearfix {
    overflow: hidden;
    _zoom: 1;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.clearfix {
    overflow: hidden;
    _zoom: 1;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.fadeInUp {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeInUp;
  }