$color-border: #ececec !default;
$color-theme: #0aa284 !default; 
$color-main: #333 !default;
$color-sub: #57d5bc !default;

$height-base : 		30px !default; 
$height-input : 		24px !default; 

$size-main : 		12px !default;

$radius-normal:			4px;     
    